p{padding: 0; margin: 0;}

#root{
  background-image: url('https://wallpaperaccess.com/full/7672286.jpg');
  background-size: cover;
  background-repeat: repeat;
  color: burlywood;
}
.boxcontainer{
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  height: 96vh;
  margin: 0px auto;
  padding: 2vh 0.5vw 2vh 0.5vw;
}
.boxcontainer div{
  overflow: hidden;
  padding: 1%;
}
.leftcontainer{
  margin: 0 1vw 0 0;
  align-self: flex-start
}
.centercontainer{
  margin: 0 0vw 0 0;
}
  
.leftcontainer:hover, .centercontainer:hover, .rightcontainer:hover, .footer:hover{
  background-color: rgba(000, 000, 000, 0.5);
  color: burlywood;
}
.footer{
  align-self: flex-end
}
.footer p:nth-child(1){
  padding-right: 1vw;
  border-right: 1px solid burlywood;
}
.footer p:nth-child(2){
  padding-left: 1vw;
  padding-right: 1vw;
  border-right: 1px solid burlywood;
  margin-right: 1vw;
}
